* 
    text-decoration: none
    box-sizing: border-box
    background-color: #242424
    color: white
    margin: 0

form
    margin: 5vh auto
    display: flex
    flex-wrap: wrap
    place-content: center
    gap: 1vw
    width: 90vw
    height: 430px

.forms p
    margin-top: 0.5vh
    margin-left: 1vw

.forms
    border-style: solid
    border-radius: 1em
    height: 370px
    width: 28vw
    display: flex
    flex-direction: column

label
    margin: 2vh 0 1vh 1vw
    font-size: large

input
    background-color: white
    color: black
    margin-left: 1vw
    width: 26vw
    height: 3vh
    font-size: large

header
    background-color: #1a1a1a
    font-size: 3vh
    color: black
    width: 100vw
    height: 8vh
    display: flex
    gap: 10vw
    place-content: center

header a
      background-color: #1a1a1a
      margin: auto 0

button 
  border-radius: 8px
  border: 1px solid transparent
  padding: 0.6em 1.2em
  font-size: 1em
  font-weight: 500
  font-family: inherit
  background-color: #1a1a1a
  cursor: pointer
  transition: border-color 0.25s

button:hover 
  border-color: white

